@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";

/* PROJECT */
.project {
  @extend %default-transition;
  @include colors($gray-dark, $white);
  @include flex-direction(column, $medium);
  border-radius: $small;
  padding: $medium;

  &:hover {
    @extend %shadow-inset;
  }

  &__top {
    @include flex-direction(column, 1rem);

    .project__header {
      @include flex-direction(row, 0);
      @include flex-alignment(space-between, center);

      .project__info {
        position: relative;
        height: 2.4rem;
        cursor: pointer;

        span {
          @extend %default-transition;
          color: $gray-light;
        }

        .project__bubble {
          position: absolute;
          display: none;
          z-index: 1;
          left: -50px;
          top: -192px;

          .bubble {
            margin: 4rem;
            position: relative;
            width: max-content;
            height: auto;
            background-color: $gray;
            border: 0.2rem solid $violet;
            border-radius: 1rem;
            animation-name: fadeIn;
            animation-duration: 0.4s;
            animation-fill-mode: both;

            &:before {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: 2rem;
              right: auto;
              top: auto;
              bottom: -2.4rem;
              border: 1.1rem solid;
              border-color: $violet transparent transparent $violet;
            }

            &:after {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: 2.2rem;
              right: auto;
              top: auto;
              bottom: -2rem;
              border: 1rem solid;
              border-color: $gray transparent transparent $gray;
            }

            &__content {
              padding: 2rem;
              text-align: left;

              ul {
                padding-left: 2rem;

                li {
                  list-style: disc;
                }
              }
            }
          }
        }
      }

      .project__info:hover .project__bubble {
        display: inline-block;
      }

      .project__info:hover .project__info--span {
        color: $white;
      }
    }

    img {
      @include dimensions(100%, auto);
      border: 0.1rem solid $black-light;
    }

    @media (max-width: 42.5rem) {
      img {
        @include dimensions(100%, auto);
      }
    }

    h4 {
      @include colors(none, $gray-light);
      @include font($regular, 400);
      text-align: end;
    }
  }

  &__bottom {
    @include dimensions(100%, auto);
    @include flex-direction(column, $medium);
    @include flex-alignment(center, center);

    &--title {
      @include flex-direction(column, $small);
      @include flex-alignment(center, center);

      img {
        @include dimensions(auto, $medium);
      }

      h3 {
        @include font($regular, 500);
      }

      p {
        @include colors(none, $gray-light);
      }
    }

    &--body {
      @include flex-direction(column, $medium);
      @include flex-alignment(center, center);

      .project__buttons {
        @include flex-direction(row, $small);

        .project__info,
        .project__deployment,
        .project__repository {
          @extend %default-transition;
          @include colors($gray, $white);
          @include flex-direction(row, $x-small);
          @include flex-alignment(center, center);
          @include font($regular, 400);
          border-radius: $small;
          cursor: pointer;
          padding: $small;

          &:hover {
            @include colors($violet, $white);
          }

          svg {
            align-self: center;
          }
        }
      }

      .project__ul {
        .project__li {
          @include dimensions(auto, 2.4rem);
          @include flex-direction(row, $x-small);
          @include flex-alignment(flex-start, center);

          span {
            @include colors(none, $violet);
          }

          h4 {
            @include font($regular, 400);
            height: 2.4rem;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
