/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body,
div,
section,
figure,
h1,
h2,
h3,
h4,
p,
a,
img,
ul,
li,
button,
small,
textarea {
  border: 0;
  margin: 0;
  padding: 0; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* GENERAL */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #1d1c21;
  color: #e2e2e2;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif; }
  body a {
    background-color: none;
    color: #e2e2e2;
    text-decoration: none; }
  body li {
    list-style: none; }
  body .material-symbols-outlined {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body .layout {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* NAV */
.nav {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center; }
  .nav__desktop {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500; }
    .nav__desktop ul {
      display: flex;
      flex-direction: row;
      gap: 2rem; }
    .nav__desktop a {
      background-color: none;
      color: #929294; }
      .nav__desktop a:hover {
        background-color: none;
        color: #e2e2e2; }
  @media (max-width: 53.75rem) {
    .nav__desktop {
      display: none; } }
  .nav__mobile {
    background-color: #2f2e34;
    color: #929294;
    width: 28rem;
    height: auto;
    display: none !important;
    min-height: 100vh;
    position: fixed;
    right: -50rem;
    top: 0;
    z-index: 2; }
    .nav__mobile button {
      cursor: pointer; }
    .nav__mobile ul {
      margin-top: 12rem; }
    .nav__mobile li {
      background-color: none;
      color: #e2e2e2;
      font-size: 1.6rem;
      font-weight: 500;
      list-style-type: none;
      padding: 2rem 3rem;
      text-align: center; }
    .nav__mobile a {
      background-color: none;
      color: #929294;
      cursor: pointer; }
      .nav__mobile a:hover {
        color: #e2e2e2; }
    .nav__mobile.active {
      right: 0; }
  @media (max-width: 53.75rem) {
    .nav__mobile {
      display: block !important; } }
  .nav .nav__overlay {
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 1; }
    .nav .nav__overlay.active {
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.35); }

/* NAV: BURGER */
.nav__burger {
  width: 2rem;
  height: 1.5rem;
  background: none;
  border: 0;
  display: block;
  position: fixed;
  right: 2rem;
  top: 3.6rem;
  transform: translateY(-50%); }
  .nav__burger--bar {
    width: 100%;
    height: 0.2rem;
    background: #e2e2e2;
    border-radius: 1rem;
    position: fixed;
    top: 0; }
  .nav__burger--bar:nth-of-type(2) {
    top: 0.5rem; }
  .nav__burger--bar:nth-of-type(3) {
    top: 1rem; }
  .nav__burger.open .nav__burger--bar:nth-of-type(1) {
    background: #e2e2e2;
    transform: rotate(45deg) translate(0.6rem, 0.1rem); }
  .nav__burger.open .nav__burger--bar:nth-of-type(2) {
    background: transparent; }
  .nav__burger.open .nav__burger--bar:nth-of-type(3) {
    background: #e2e2e2;
    transform: rotate(-45deg) translate(0.6rem, -0.1rem); }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* HEADER */
.header {
  background-color: #1d1c21;
  color: #929294;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 2rem !important;
  position: fixed;
  z-index: 2;
  top: 0; }
  .header__container {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
    height: auto; }
  .header__a {
    background-color: none;
    color: #8739fa;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer; }
    .header__a span {
      background-color: none;
      color: #e2e2e2; }

@media (max-width: 78.5rem) {
  .header {
    width: 100%;
    height: auto;
    padding: 0 2rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* HERO */
.hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 19.1rem !important; }
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    line-height: 1.3; }
    .hero__content .hero__title {
      background-color: none;
      color: #e2e2e2;
      font-size: 2.4rem;
      font-weight: 600; }
    .hero__content .hero__subtitle {
      background-color: none;
      color: #929294;
      font-size: 2rem;
      font-weight: 500; }
    .hero__content .hero__description {
      background-color: none;
      color: #e2e2e2;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3; }
    @media (max-width: 47.5rem) {
      .hero__content .hero__description {
        text-align: center; } }
    .hero__content .hero__anchors {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 2.4rem; }
      .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        border-radius: 1rem;
        cursor: pointer;
        padding: 1rem 1.6rem; }
      .hero__content .hero__anchors--resume {
        background-color: #8739fa;
        color: #e2e2e2; }
        .hero__content .hero__anchors--resume span {
          font-size: 2rem;
          font-weight: 400; }
      .hero__content .hero__anchors--talk {
        width: 12.108rem;
        height: auto;
        background-color: transparent;
        color: #8739fa; }
  @media (max-width: 47.5rem) {
    .hero__content {
      justify-content: center;
      align-items: center; } }
  .hero .hero__avatar {
    width: auto;
    height: 26rem;
    animation: avatar 7s ease-in-out infinite;
    border-radius: 40% 70% 60% 50% / 40% 50% 60% 70%; }

@media (max-width: 47.5rem) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 12rem !important; } }

@keyframes avatar {
  0% {
    border-radius: 60% 50% 40% 70% / 60% 40% 70% 50%; }
  50% {
    border-radius: 40% 70% 80% 50% / 50% 60% 40% 60%; }
  100% {
    border-radius: 60% 50% 40% 70% / 60% 40% 70% 50%; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* FACT */
.fact {
  background-color: #2f2e34;
  color: #e2e2e2;
  border-radius: 1rem;
  padding: 2rem 0;
  text-align: center; }
  .fact span {
    display: block; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  line-height: 1.3;
  margin-top: 12rem;
  scroll-margin-top: 9rem; }
  .about__title {
    font-size: 2rem;
    font-weight: 500; }
  .about__showcase {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem; }
  @media (max-width: 480px) {
    .about__showcase {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
      grid-auto-rows: auto;
      gap: 1rem; } }

@media (max-width: 47.5rem) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* SKILLSET */
.skillset {
  background-color: #2f2e34;
  color: #e2e2e2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 1rem;
  padding: 2rem; }
  .skillset__title {
    background-color: none;
    color: #8739fa;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center; }
  .skillset__container {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: flex-start;
    align-items: center; }
    .skillset__container--left, .skillset__container--right {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%; }

/* SKILL */
.skill {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center; }
  .skill__icon span {
    background-color: none;
    color: #8739fa;
    font-size: 2rem;
    font-weight: 400;
    font-variation-settings: "FILL" 1; }
  .skill__name {
    line-height: 1.2; }
    .skill__name span {
      background-color: none;
      color: #929294;
      display: block; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* SKILLS */
.skills {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  line-height: 1.3;
  margin-top: 8rem;
  scroll-margin-top: 9rem; }
  .skills__title {
    font-size: 2rem;
    font-weight: 500; }
  .skills__showcase {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem; }
  @media (max-width: 44.125rem) {
    .skills__showcase {
      display: flex;
      flex-direction: column;
      gap: 1rem; } }

@media (max-width: 47.5rem) {
  .skills {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* COURSE */
.course {
  background-color: #2f2e34;
  color: #e2e2e2;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem; }
  .course__img {
    width: auto;
    height: 4rem; }
  .course__text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .course__text p {
      line-height: 1.2; }
      .course__text p:nth-of-type(2) {
        background-color: none;
        color: #929294; }
  .course__certificate {
    background-color: #3e3c46;
    color: #e2e2e2;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem; }
    .course__certificate:hover {
      background-color: #8739fa;
      color: #e2e2e2; }
    .course__certificate span {
      font-size: 2rem;
      font-weight: 400; }
    @media (max-width: 36.25rem) {
      .course__certificate p {
        display: none; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* EDUCATION */
.education {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 8rem;
  scroll-margin-top: 9rem; }
  .education__title {
    font-size: 2rem;
    font-weight: 500; }
  .education__showcase {
    width: 100%;
    height: auto; }
    .education__showcase .courses {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 1rem; }
      .education__showcase .courses--left, .education__showcase .courses--right {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem; }
    @media (max-width: 44.125rem) {
      .education__showcase .courses {
        display: flex;
        flex-direction: column;
        gap: 1rem; } }

@media (max-width: 47.5rem) {
  .education {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* PROJECT */
.project {
  background-color: #2f2e34;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem; }
  .project__top {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .project__top .project__header {
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      align-items: center; }
      .project__top .project__header .project__info {
        position: relative;
        height: 2.4rem;
        cursor: pointer; }
        .project__top .project__header .project__info span {
          color: #929294; }
        .project__top .project__header .project__info .project__bubble {
          position: absolute;
          display: none;
          z-index: 1;
          left: -40px;
          top: -192px; }
          .project__top .project__header .project__info .project__bubble .bubble {
            margin: 4rem;
            position: relative;
            width: max-content;
            height: auto;
            background-color: #3e3c46;
            border: 0.2rem solid #8739fa;
            border-radius: 1rem;
            animation-name: fadeIn;
            animation-duration: 0.4s;
            animation-fill-mode: both; }
            .project__top .project__header .project__info .project__bubble .bubble:before {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: 2rem;
              right: auto;
              top: auto;
              bottom: -2.4rem;
              border: 1.1rem solid;
              border-color: #8739fa transparent transparent #8739fa; }
            .project__top .project__header .project__info .project__bubble .bubble:after {
              content: " ";
              position: absolute;
              width: 0;
              height: 0;
              left: 2.2rem;
              right: auto;
              top: auto;
              bottom: -2rem;
              border: 1rem solid;
              border-color: #3e3c46 transparent transparent #3e3c46; }
            .project__top .project__header .project__info .project__bubble .bubble__content {
              padding: 2rem;
              text-align: left; }
      .project__top .project__header .project__info:hover .project__bubble {
        display: inline-block; }
      .project__top .project__header .project__info:hover .project__info--span {
        color: #e2e2e2; }
    .project__top img {
      width: 100%;
      height: auto;
      border: 0.1rem solid #26252a; }
    @media (max-width: 42.5rem) {
      .project__top img {
        width: 100%;
        height: auto; } }
    .project__top h4 {
      background-color: none;
      color: #929294;
      font-size: 1.6rem;
      font-weight: 400;
      text-align: end; }
  .project__bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center; }
    .project__bottom--title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center; }
      .project__bottom--title img {
        width: auto;
        height: 2rem; }
      .project__bottom--title h3 {
        font-size: 1.6rem;
        font-weight: 500; }
      .project__bottom--title p {
        background-color: none;
        color: #929294; }
    .project__bottom--body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center; }
      .project__bottom--body .project__buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem; }
        .project__bottom--body .project__buttons .project__info,
        .project__bottom--body .project__buttons .project__deployment,
        .project__bottom--body .project__buttons .project__repository {
          background-color: #3e3c46;
          color: #e2e2e2;
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 400;
          border-radius: 1rem;
          cursor: pointer;
          padding: 1rem; }
          .project__bottom--body .project__buttons .project__info:hover,
          .project__bottom--body .project__buttons .project__deployment:hover,
          .project__bottom--body .project__buttons .project__repository:hover {
            background-color: #8739fa;
            color: #e2e2e2; }
          .project__bottom--body .project__buttons .project__info svg,
          .project__bottom--body .project__buttons .project__deployment svg,
          .project__bottom--body .project__buttons .project__repository svg {
            align-self: center; }
      .project__bottom--body .project__ul .project__li {
        width: auto;
        height: 2.4rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center; }
        .project__bottom--body .project__ul .project__li span {
          background-color: none;
          color: #8739fa; }
        .project__bottom--body .project__ul .project__li h4 {
          font-size: 1.6rem;
          font-weight: 400;
          height: 2.4rem;
          display: grid;
          place-items: center; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* PROJECTS */
.repository {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  line-height: 1.3;
  margin-top: 8rem;
  scroll-margin-top: 9rem; }
  .repository__title {
    font-size: 2rem;
    font-weight: 500; }
  .repository__showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem; }
  @media (max-width: 560px) {
    .repository__showcase {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-auto-rows: auto;
      gap: 1rem; } }

@media (max-width: 47.5rem) {
  .repository {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .form small {
    color: #e2e2e2; }
  .form__field {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: flex-start; }
    .form__field--name, .form__field--email, .form__field--subject, .form__field--message {
      background-color: #2f2e34;
      color: #e2e2e2;
      width: 100%;
      height: auto;
      font-size: 1.6rem;
      font-weight: 400;
      border: none;
      border-radius: 1rem;
      font-family: 'Poppins', sans-serif;
      outline: none;
      padding: 1rem 2rem; }
    .form__field--message {
      width: 100%;
      height: 23.6rem;
      min-width: 100%;
      resize: none; }
  .form__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem; }
    .form__buttons button {
      width: 100%;
      height: auto;
      font-size: 1.6rem;
      font-weight: 400;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      padding: 1rem 2rem; }
      .form__buttons button:nth-of-type(1) {
        background-color: #8739fa;
        color: #e2e2e2;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center; }
        .form__buttons button:nth-of-type(1) span {
          font-size: 2rem;
          font-weight: 400;
          font-variation-settings: 'FILL' 0; }
      .form__buttons button:nth-of-type(2) {
        background-color: transparent;
        color: #8739fa; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* SOCIAL */
.social {
  background-color: #3e3c46;
  color: #e2e2e2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  padding: 2rem 0; }
  .social span {
    font-size: 2rem;
    font-weight: 400; }
  .social h3 {
    width: auto;
    height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .social p {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: none;
    color: #929294; }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  line-height: 1.3;
  margin-top: 8rem;
  scroll-margin-top: 9rem; }
  .contact__title {
    font-size: 2rem;
    font-weight: 500; }
  .contact__content {
    display: flex;
    flex-direction: row;
    gap: 1rem; }
    .contact__content--left {
      width: 33.33%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .contact__content--right {
      width: 66.66%;
      height: auto; }
    @media (max-width: 720px) {
      .contact__content--left {
        width: 100%;
        height: auto; } }
    @media (max-width: 720px) {
      .contact__content--right {
        width: 100%;
        height: auto; } }
  @media (max-width: 720px) {
    .contact__content {
      display: flex;
      flex-direction: column;
      gap: 1rem; } }

@media (max-width: 47.5rem) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; } }

/* MAIN */
.main {
  width: 120rem; }

@media (max-width: 78.5rem) {
  .main {
    width: 100%;
    height: auto;
    padding: 0 2rem; } }

.fact, .skill__icon {
  display: grid;
  place-items: center; }

.nav__desktop a, .nav__mobile, .nav__mobile a, .nav__burger--bar, .hero__content .hero__anchors--resume, .hero__content .hero__anchors--talk, .fact, .skillset, .course, .course__certificate, .project, .project__top .project__header .project__info span, .project__bottom--body .project__buttons .project__info,
.project__bottom--body .project__buttons .project__deployment,
.project__bottom--body .project__buttons .project__repository, .social, .footer__container .footer__ul .footer__li .footer__a {
  transition: all 0.3s; }

.hero__content .hero__anchors--talk, .fact:hover, .skillset:hover, .course:hover, .project:hover, .form__field--name:hover, .form__field--email:hover, .form__field--subject:hover, .form__field--message:hover, .form__buttons button:nth-of-type(2), .social:hover {
  box-shadow: inset 0 0 0 0.25rem #8739fa; }

/* FOOTER */
.footer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  max-width: 100%; }
  .footer__container {
    width: 120rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .footer__container .footer__logo {
      width: auto;
      height: 4rem;
      cursor: pointer; }
    .footer__container .footer__ul {
      display: flex;
      flex-direction: row;
      gap: 0.5rem; }
      .footer__container .footer__ul .footer__li .footer__a {
        background-color: none;
        color: #929294; }
      .footer__container .footer__ul .footer__li .footer__a:hover {
        background-color: none;
        color: #e2e2e2; }
      .footer__container .footer__ul .footer__li:nth-of-type(1),
      .footer__container .footer__ul .footer__li:nth-of-type(2),
      .footer__container .footer__ul .footer__li:nth-of-type(3),
      .footer__container .footer__ul .footer__li:nth-of-type(4) {
        border-right: 0.1rem solid #929294;
        padding-right: 0.5rem; }
  @media (max-width: 78.5rem) {
    .footer__container {
      width: 100%;
      height: auto;
      padding: 0 2rem; } }

@media (max-width: 47.5rem) {
  .footer {
    margin-top: 4rem; } }
