// COLORS
$black: #1d1c21;
$black-light: #26252a;
$gray-dark: #2f2e34;
$gray: #3e3c46;
$gray-light: #929294;
$white: #e2e2e2;
$violet: #8739fa;

// SIZES
$xxx-small: 0.1rem;
$xx-small: 0.25rem;
$x-small: 0.5rem;
$small: 1rem;
$regular: 1.6rem;
$medium: 2rem;
$large: 2.4rem;
$x-large: 4rem;
$xx-large: 8rem;
$xxx-large: 12rem;
